{% extends "base.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block body %}
<h1>Bienvenido {{ nombre }}</h1>
<div class="datagrid">
    <table>
        <thead><tr><th>Nombre-usuario</th><th>Modulo</th><th>Horas_Semanales</th><th>Profesor</th></tr></thead>
        <tbody>
            {% for a in listadatos %}
            <tr class="alt"><td >{{ a[0] }}</td><td>{{ a[1] }}</td><td>{{ a[2] }}</td><td>{{ a[3] }}</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}