{% extends "base.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block title2 %}{{titulo2}}{% endblock %}
{% block inicio %}<a href="/">Inicio</a>{% endblock %}
{% block table %}
<div class="datagrid">
    <table>
        <thead><tr><th>ID</th><th>Nombre-usuario</th><th>Password</th></tr></thead>
        <tbody>
            {% for a in listadatos %}
            <!--<tr class="alt"><td >{{ a.id }}</td><td>{{ a.username }}</td><td>{{ a.password }}</a></td></tr>-->
            <tr class="alt"><td >{{ a[0][0] }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}