{% extends "base.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block title2 %}
<p>Página principal.</p>
{% endblock %}
{% block lista %}
<div>
    <p>Herramientas de la aplicación</p> 
    <ul>
        <li>Datos meteorológicos actuales <a href="/detalles/dma"> Detalles</a> <a href="/forms/dma"> Acceder</a></li> 
        <li>Pronóstico del tiempo de 5 días <a href="/detalles/ptdd">Detalles</a> <a href="/forms/ptdd"> Acceder</a></li></li> 
        <li>API de contaminación del aire <a href="/detalles/acda">Detalles</a> <a href="/forms/acda"> Acceder</a></li></li> 
    </ul>
</div>
{% endblock %}
