{% extends "base.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block body %}
<h1>DB appweb</h1>
<div class="datagrid">
    <table>
        <thead><tr><th>id</th><th>username</th><th>password</th></tr></thead>
        <tbody>
            {% for a in tablausr %}
            <tr class="alt"><td >{{ a[0] }}</td><td>{{ a[1] }}</td><td>{{ a[2] }}</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table>
        <thead><tr><th>nombre</th><th>horas_semanales</th><th>profesor</th></tr></thead>
        <tbody>
            {% for a in tablamod %}
            <tr class="alt"><td >{{ a[0] }}</td><td>{{ a[1] }}</td><td>{{ a[2] }}</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table>
        <thead><tr><th>alumnos</th><th>modulos</th></tr></thead>
        <tbody>
            {% for a in tablamat %}
            <tr class="alt"><td >{{ a[0] }}</td><td>{{ a[1] }}</a></td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}